<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; background-color: lightslategray; padding-bottom: 2%;">
  <!-- <h1>Welcome to {{ title }}!</h1> -->
  <h1>My Thoughts</h1>

  <button (click)='newThought()'>New Thought</button>

  <div *ngIf='showPostFormPopup' [ngClass]='{postFormPopup: true}'>
    <postForm (submitted)='onSubmit($event)'></postForm>
  </div>

  <div *ngIf='!showPostFormPopup' [ngClass]='setClasses()'>

    <div class="votebox">
      <div class="up_vote"></div>
      <div class="down_vote"></div>
    </div>
    <post (delete)="onDelete($event)" *ngFor='let individualPost of listOfPosts; index as i' [DONKEY]='individualPost'></post>
    
  </div>

  <!-- const list = [1, 2, 3, 4, 5];

for (let item of list) {
  post(item);
}

function post (DONKEY) {
  console.log(DONKEY)
} -->