* {
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

h1 {
    padding-top: 15px;
    font-family: fantasy;
}

.postList {
    /* border: 1px solid black; */
    /* display: flex; */
    /* flex-direction: column; */
    /* height: 80vh; */
    /* width: 80vw; */
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    border-radius: 5px;
    justify-content: flex-start;
    align-items: flex-start;
}

.postFormPopup {
    /* border: 3px dashed red; */
    height: 80vh;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}

button {
    display: flex;
    /* align-content: flex-start;
    justify-content: flex-start;  */
    width: 90%;
    height: 40px;
    border-radius: 5px;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 3%;
    font-size: 1.1em;
    padding-top: 5px;
}
